.gallery-container{
    width: 90%;
    /* background: red; */
}


.image-box {
    position: relative;
    height: 750px;
    overflow: hidden;
  }
  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
  }
  .image-box:hover img {
    transform: scale(1.1);
    opacity: 0.8;
  }
  